* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 100px;
}

label {
    padding-bottom: 5px;
}

.form-group {
    padding-bottom: 20px;
}